# Nossis Docs, serverless hosting for static, private web sites
#
# Copyright (C) 2024-2025  Matthew X. Economou
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License along with this program.  If not, see
# <https://www.gnu.org/licenses/>.

[flake8]
max-line-length = 80
extend-select =
    # When using Black, the Flake8 documentation recommends using
    # Bugbear's B950 check.
    B950
extend-ignore =
    # B950 replaces the built-in E203, E501, and E701 checks.
    E203, E501, E701,
    # No new Python features **SHOULD** be in use.
    FI10, FI11, FI12, FI13, FI14, FI15, FI16, FI17, FI18,
    # Test code uses assertions by design.
    S101,
known_modules = pyhumps:[humps]

# Local Variables:
# mode: conf-unix
# End:
