# Nossis Docs, serverless hosting for static, private web sites
#
# Copyright (C) 2024-2025  Matthew X. Economou
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License along with this program.  If not, see
# <https://www.gnu.org/licenses/>.

## OpenTofu/Terraform (https://github.com/github/gitignore)

# Do not store credentials in Git repositories!
.secrets*
.vars*

# These are subject to change across environments/deployments and
# might contain sensitive data (like passwords or shared secrets).
*.tfvars*

# Exclude the OpenTofu/Terraform data directory, CLI configuration,
# any deployment plans or deployment state tracking files, transient
# lock files, and crash logs.
.terraform.tfstate.lock.info
.terraformrc
*.plan*
*.tfstate
*.tfstate.*
**/.external_modules/*
**/.terraform/*
*tfplan*
crash.*.log
crash.log
terraform.rc

# Only specify version constraints in versions.tf.
.terraform.lock.hcl

# By convention, these files override resource defintions locally and
# shouldn't be tracked.  Include override files that should be tracked
# using the negated pattern.
override.tf*
override.tf.json
*_override.tf
*_override.tf.json
#!example_override.tf

## Python (https://github.com/github/gitignore)

# Virtual environments can be named anything, but these are pretty
# typical.
.env*
.venv*
env*.bak*/
env*/
ENV*/
venv*.bak*/
venv*/

# Development tools including CMake, Cython, Gradle, IntelliJ, Maven,
# mypy, Pyre, and pytype generate these temporary files.
.dmypy.json
.idea_modules/
.idea/
.mypy_cache/
.pyre/
.pytype/
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
cython_debug/
dmypy.json
fabric.properties
out/

# These pre-processed, byte-compiled, or otherwise optimized files can
# sneak into project directories via editable installations.
__pycache__/
*.py[cod]
*$py.class

# Only specify version constraints in pyproject.toml.
.pdm.toml
.python-version
pdm.lock
Pipfile.lock
poetry.lock
requirements*.txt

# Test results or code coverage reports shouldn't be saved alongside
# the code.  If necessary, publish them at release time or archive
# them with CI workflow logs.
.cache
.coverage
.coverage.*
.hypothesis/
.nox/
.pytest_cache/
.tox/
*.cover
*.py,cover
cover/
coverage.xml
htmlcov/
nosetests.xml

# Built source (sdist) or binary distributions (wheels) are published
# via the Git repository's _Releases_ page or a package repository.
# Ignore related temporary files, too.
__pypackages__/
.eggs/
.installed.cfg
.Python
*.egg
*.egg-info/
build*/
develop-eggs/
dist*/
downloads/
eggs/
lib/
lib64/
MANIFEST
parts/
sdist*/
share/python-wheels/
var/
wheels/

# The same goes for C extensions.
*.dll
*.dylib
*.so

# Usually, a script generates these files from templates before
# PyInstaller builds the executable.
*.manifest
*.spec

# GNU gettext compiles editable message catalogs into these files.
*.mo
*.pot

# Do not save installer logs.
pip-log.txt
pip-delete-this-directory.txt

# Various frameworks will generate these files, e.g., Celery, Django,
# Flask, IPython, Jupyter, mkdocs, PyBuilder, Rope, SageMath, Scrapy,
# Sphinx, and Spyder.
.ipynb_checkpoints
.pybuilder/
.ropeproject
.scrapy
.spyderproject
.spyproject
.webassets-cache
*.log
*.sage.py
/site
celerybeat-schedule
celerybeat.pid
db.*
docs/_build/
docs/apidocs/
instance/
ipython_config.py
local_settings.py
profile_default/
target/

## macOS (https://github.com/github/gitignore)

# Exclude temporary files, thumbnails, etc. generated by Finder,
# Spotlight, and friends.
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
Network Trash Folder
Temporary Items

# This filename must end with a \r (carriage return).  The range match
# notation protects the carriage return character from being stripped
# by Git's automatic line ending conversion feature or malfunctioning
# text editors; see also https://stackoverflow.com/a/33974028.
Icon[]
